
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* @layer base {
  body {
    @apply font-sans text-gray-900 bg-white;
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center px-6 py-3 text-sm font-semibold text-white bg-orange-500 rounded-lg hover:bg-orange-600 transition-all duration-300;
  }
  
  .btn-secondary {
    @apply inline-flex items-center justify-center px-6 py-3 text-sm font-semibold text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 transition-all duration-300;
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fonting{
  font-family: 'Merriweather Sans', sans-serif;
}

html, body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/fonts/Satoshi-Regular.ttf') format('ttf');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter_18pt-Light.ttf') format('ttf');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}